[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"] }
openpyxl = "*"
pandas = "*"
quart = {extras = ["dotenv"]}
uvicorn = {extras = ["standard"], version = "*"}
quart-wtforms = "*"
pykml = "*"
aiohttp = {extras = ["speedups"], version = "*"}
geopandas = "*"
folium = "*"

[dev-packages]
maratonatechrs = {editable = true, path = "."}

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[scripts]
## DESENVOLVIMENTO
dev = "uvicorn src.maratonatechrs.web:app --reload"
## TESTE
api = "uvicorn maratonatechrs.api:app"
web = "uvicorn maratonatechrs.web:app"
## HOMOLOGAÇÃO
prod = "python -m maratonatechrs"
