<h1>{{ title }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
{{ form.csrf_token }}
{% for field in form|selectattr('render') %}
    <div class="mb-3">
    {{ field.label }}
    {{ field }}
    {% for error in field.errors %}
        <span class="badge badge-danger">[{{ error }}]</span>
    {% endfor %}
    </div>
{% endfor %}
{{ form.submit_field(class="btn btn-primary") }}
</form>
{% if cadastrado %}
<hr>
<p>Pol&iacute;gono cadastrado com sucesso. 
<a href="{{ url_for('index') }}">Ver no mapa</a></p>
{% endif %}
