<pre>

                       ______
                    .-"      "-.
                   /            \
       _          |              |          _
      ( \         |,  .-.  .-.  ,|         / )
       > "=._     | )(__/  \__)( |     _.=" <
      (_/"=._"=._ |/     /\     \| _.="_.="\_)
             "=._ (_     ^^     _)"_.="
                 "=\__|IIIIII|__/="
                _.="| \IIIIII/ |"=._
      _     _.="_.="\          /"=._"=._     _
     ( \_.="_.="     `--------`     "=._"=._/ )
      > _.="                            "=._ <
     (_/   jgs                              \_)
</pre>
<p>&Aacute;rea reservada para desenvolvedora(e)s. N&atilde;o aperte 
nenhum bot&atilde;o sem saber o que est&aacute; fazendo&excl;</p>
<h1>{{ title }}</h1>
<p>Para obter os &uacute;ltimos dados atualizados em <i>cache</i> da
API de enchentes da Inglaterra, aperte este bot&atilde;o:
<form action="" method="post">
{{ form1.csrf_token }}
{{ form1.submit1_field(class="btn btn-primary") }}
</form>
{% if atualizado1 %}
Atualizado&excl;
{% endif %}
</p>
<hr>
<p>Para transformar os dados atualizados em pol&iacute;gonos, aperte 
este bot&atilde;o:
<form action="" method="post">
{{ form2.csrf_token }}
{{ form2.submit2_field(class="btn btn-primary") }}
</form>
{% if atualizado2 %}
Atualizado&excl;
{% endif %}
</p>
<hr>
<p>Para atualizar o mapa com os pol&iacute;gonos novos, aperte este 
bot&atilde;o:
<form action="" method="post">
{{ form3.csrf_token }}
{{ form3.submit3_field(class="btn btn-primary") }}
</form>
{% if atualizado3 %}
Atualizado&excl; <a href="{{ url_for('index') }}">Ver no mapa</a>
{% endif %}
</p>
<hr>
{% if not atualizado1 or not atualizado2 or not atualizado3 %}
<a href="{{ url_for('index') }}">Voltar ao mapa</a>
{% endif %}
